<!DOCTYPE HTML>
<html>
  <head>
    <title>
      My Yelpclone Website
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
  </head>

  <body>
    <div class = "jumbotron">
      <div class = "container">

        <h2>What type of business would you like to search for?</h2><br>

        <form action = "/submit">
          <input type="text" name="location" placeholder="Enter a City Name">
          <input type="text" name="term" placeholder="Type of Business to Search for">
          <input type="submit" value="submit" class="btn btn-primary">
      </div>
    </div>
  </body>
</html>
